@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}
body
{
  background-color: #FAFAF9;
}
.container
{
  width: 100%;
  height: 100%;
  padding-left: 80px;
}
.star
{
  margin-top: 170px;
  width:45px;
  height: 45px;
  background-color: #F5C044;
  border-radius: 100%;
}
.star img
{
  width: 100%;
  height: 100%;
}
.heading
{
  margin-top: 10px;
  font-size: 36px;
  font-weight: bold;
  color: #18181B;
}
.reviewrs
{
  margin-top: 10px;
  width: 550px;
}
.body1
{
  font-size: 20px;
  font-weight: 300;
  line-height: 2.25rem;
  color:#52525A;
}
.details
{
  margin-top: 30px;
  font-size: 14px;
  font-weight: 200;
  color: #52525A;
}
.details li
{
  display: flex;
  padding: 0;
  list-style: none;
  line-height: 1.75rem;
}
.details span
{
  display: inline-block;
  padding-right: 10px;
}
.review
{
  position: absolute;
  top: 170px;
  right: 57px;
  width: 360px;
  background-color: #FFFFFF;
  padding: 30px 40px;
  padding-right: 40px;
  border-radius: 16px;
}
.meta
{
  position: absolute;
  top:400px;
  right: 250px;
}
.comrating
{
  display: inline-block;
}
.company
{
  float: left;
  width: 90px;
  height: 30px;
}
.rating
{
  float: right;
  padding: 5px;
  margin-left: 10px;
  display: inline-block;
}
.rating img
{
  width: 25px;
  height: 25px;
}
.name
{
  position: absolute;
  top: 80px;
  left: 40px;
  font-size: 16px;
  font-weight: bold;
}
.rate-text
{
  padding-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75rem;
  color: #52525A;
}

@media screen and (max-width:1180px)
{
  .meta
  {
    right: 150px;
  }
}
@media screen and (max-width:1180px)
{
  .meta
  {
    right: 100px;
  }
}
@media screen and (max-width:1140px)
{
  .container
  {
    padding-bottom: 500px;
  }
  .star
  {
    margin-top: 100px;
  }
  .review
  {
    top: 580px;
    right: 200px;
  }
  .meta
  {
    top: 800px;
    left: 200px;
  }
}
@media screen and (max-width:800px)
{
  .container
  {
    padding-left: 50px;
  }
  .review
  {
    right: 100px;
  }
  .meta
  {
    left: 100px;
  }
}
@media screen and (max-width:640px)
{
  .container
  {
    padding: 25px;
  }
  .review
  {
    right: 25px;
  }
  .meta
  {
    left: 25px;
  }
}
